 <h1>  Team <%= params["team"]["name"]%> </h1>
<h1>  Team Motto: <%= params["team"]["motto"]%></h1>

     <p>  Hero Name: <%=params["team"]["members"]["member1_name"]%></p>
     <p>  Hero Power: <%=params["team"]["members"]["member1_power"]%></p>
     <p>  Hero Biography: <%=params["team"]["members"]["member1_bio"]%></p>
     <p>  Hero Name: <%=params["team"]["members"]["member2_name"]%></p>
     <p>  Hero Power: <%=params["team"]["members"]["member2_power"]%></p>
     <p>  Hero Biography: <%=params["team"]["members"]["member2_bio"]%></p>
     <p>  Hero Name: <%=params["team"]["members"]["member3_name"]%></p>
     <p>  Hero Power: <%=params["team"]["members"]["member3_power"]%></p>
     <p>  Hero Biography: <%=params["team"]["members"]["member3_bio"]%></p> 
